@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
body {font-family: 'Lato', sans-serif; transition: .2s;}

h1 {margin-bottom: 30px;}
p {margin: 5px 0;}
.container {display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column; margin: 0 10px;}
.keyboard_wrapp {max-width: 980px; width: 100%; background-color: #e7e7e7; position: relative; display: flex; flex-wrap: wrap;}
.keys {width: 55px; height: 55px; background-color: #fff; display: flex; justify-content: center; align-items: center;  margin: 4px; transition: .2s; z-index: 5; cursor: pointer;}
.backspace_key {width: 152px;}
.tab_key {width: 90px;}
.slash_key {width: 90px;}
.caps_lock_key {width: 135px;}
.enter_key {width: 135px;}
.shift_key {width: 117px;}
.space_key {max-width: 467px; width: 100%;}
.text {max-width: 1008px; width: 100%; height: 90px; margin-bottom: 30px; border: none; outline: none; font-size: 18px; background-color: #f7f7f7; padding-left: 10px; transition: .2s;}
.keys.active, .keys:hover {background-color: #333; color: #fff;}
.keys.remove {animation: keys_animation 0.5s forward;}

@keyframes keys_animation {
    0% {
        background-color: #333;
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #000;
    }
}